/* Main Style Sheet */

/* Change Body Font */
body {
font-family: 'Open Sans', Arial, sans-serif;
font-size: 1em;
color: #444;
font-weight: 400;
}
/* Center Headings */
#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
/* Small Headings */
h2 {
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
}
/* Bold Small Header */
.sectionheader{
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  background-color: #33485e;
  font-weight: 400;
  margin: 20px 0 10px 0;
  width: 70%;
  min-width: 300px;
}
/* Bolder Small Headline */
.jobtitle{
  font-size: 1.25em;
  font-weight: 600;
}
/* Italicized Small Header */
.organization{
  font-size: 1em;
  boldness: 400;
  font-style: italic;
}
/* Italicized Small Header */
.date{
  font-size: 1em;
  boldness: 400;
  font-style: italic;
  margin: 2px 0 0 0;
}
.description{
  margin: 10px 0 10px 0;
}
.menu{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 1em;
}

#degrees{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

#d0 {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

#title{
  font-weight: 600;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 20px;
}

#container{
  width: 100%;
  max-width: 1200px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-bottom: 50px

}
